
body{
    background-color: lightgreen;
}
.last a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-decoration: none;
}


body{
    background-color: lightgreen;
}
.last1 a{
    text-decoration: none;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;
}        
